body {
  max-width: 900px;
  margin: 2em auto;
  padding: 0 1.5em;
  font-family: serif;
  line-height: 1.45;
}

h1 {
  font-size: 200%;
  font-weight: bold;
}

h2 {
  font-size: 160%;
  font-weight: bold;
}

h3 {
  font-size: 130%;
  font-weight: bold;
}

dt {
  font-weight: bolder;
}

em {
  font-style: italic;
}

figcaption {
  font-size: small;
}

figure {
  text-align: center;
}

.quote {
  margin-top: 2em;
  margin-bottom: 2em;
}

.quote p {
  margin: 0;
}

footer {
  font-size: small;
}
